<!--
  ~
  ~ Copyright (c) 2018. Pushwoosh Inc. (http://www.pushwoosh.com)
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining
  ~ a copy of this software and associated documentation files (the
  ~ "Software"), to deal in the Software without restriction, including
  ~ without limitation the rights to use, copy, modify, merge, publish,
  ~ distribute, sublicense, and/or sell copies of the Software, and to
  ~ permit persons to whom the Software is furnished to do so, subject to
  ~ the following conditions:
  ~
  ~ (i) the original and/or modified Software should be used exclusively to work with Pushwoosh services,
  ~
  ~ (ii) the above copyright notice and this permission notice shall be
  ~ included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  ~ EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
  ~ MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  ~ NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
  ~ LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
  ~ OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
  ~ WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:initOrder="53"
            android:enabled="true"
            android:authorities="${applicationId}.PushBaiduIntentService" android:exported="false"
            android:name="com.pushwoosh.baidu.BaiduInitProvider"/>

        <activity
            android:name="com.pushwoosh.baidu.internal.utils.BaiduPermissionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="com.pushwoosh.baidu.BaiduPushMessageReceiver" android:exported="true">
            <intent-filter>

                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />

                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
    </application>
</manifest>