<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <application>
        <meta-data
            android:name="com.pushwoosh.plugin.call"
            android:value="com.pushwoosh.calls.PushwooshCallPlugin" />

        <service android:name=".service.PushwooshConnectionService"
            android:exported="true"
            android:label="@string/pushwoosh_call_service"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <service android:name=".service.PushwooshCallService"
            android:exported="false"
            android:foregroundServiceType="phoneCall"/>

        <service android:name=".service.PushwooshInCallService"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:label="@string/pushwoosh_call_service"
            android:exported="true">
            <meta-data android:name="android.telecom.IN_CALL_SERVICE_UI" android:value="true" />
            <meta-data android:name="android.telecom.IN_CALL_SERVICE_RINGING"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService"/>
            </intent-filter>
        </service>

        <receiver android:name=".PushwooshCallReceiver" />

        <activity android:name=".ui.PhoneNumbersPermissionActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- AndroidManifest.xml -->
        <activity
            android:name=".ui.IncomingCallActivity"
            android:theme="@style/Theme.CallIncoming"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:exported="false" />

    </application>
</manifest>